/*锟斤拷锟斤拷*/
.p-l-0{
	padding:0px 15px 0px 0px;
}
.p-r-0{
	padding:0px 0px 0px 15px;
}
.p-20{
	padding:20px;
}
.padding-right-10{
	padding-right:10px !important;
}
.m-0{
	margin:0px !important;
}
.m-t-10{
	margin-top:10px;
}
.m-t-20{
	margin-top:20px;
}
.m-t-30{
	margin-top:30px;
}
.p-t-10{
	padding-top:10px;
}
.p-t-20{
	padding-top:20px;
}
.p-t-30{
	padding-top:30px;
}
.p-b-60{
	padding-bottom:60px;
}
.p-lr-10{
	padding:0px 10px;
}
.m-r-5{
	margin-right:5px;
}
.range-r-5{
	padding:0px 5px 0px 0px;
}
.range-l-5{
	padding:0px 0px 0px 5px;
}
.border-none{
	border:none;
}
/*  锟结构*/
body {
    background-color: #ccc;
}
#leftFrame{
	width: 200px;
	padding-top: 60px;
	box-shadow: none;
	border-right:1px solid #d9dadc;
}
#main-content{
	margin-left: 200px;
}
#topFrame{
	height:60px;
}
.navbar-default {
    background: #ffffff;
    border: 0 none;
    min-height: 60px;
    box-shadow: none;
}
#rightFrame{
	margin-top: 60px;
}
.temp-p-15{
	padding-top:10px;
}
/*  锟斤拷锟斤拷锟斤拷式*/
.page-header.navbar{
	border:none;
}
#topFrame .nav{
	    margin: 12px 0 0 0;
}
.logo-box{
	height:60px;
	padding:10px;
	background: none;
	opacity: 1;
	float:left;
	width:auto;
	margin:0px;
}
.navbar-title{
	float:left;
	padding: 11px 0px;
	
}
.navbar-title p {
    margin:0px;
}
.navbar-title .china{
	font-size:16px;
	font-weight:bold;
	margin-bottom: 3px;
	color:#4c4948;
}
.navbar-title .eng{
	font-size:12px;
	color:#4c4948;
}
 .nav-line{
    height: 30px;
    width: 1px;
    background: #e0e0e0;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 20px;
 }
 .header-right{
     position: absolute;
    right: 30px;
    top: 12px;
 }
 .user-name{
 position:relative;
 float:left;
 right:0px;}



/*锟斤拷锟斤拷锟斤拷锟�*/
@media (max-width: 991px){
.page-sidebar.navbar-collapse.in {
   margin:0px;
}
}
#BSLeftMenu{
	margin-top:35px;
}
#retract{
	cursor:pointer;
}
#retract .icon-caidan{
	font-size: 20px;
    left: 90px;
    position: absolute;
    top: 10px;
}
/*  锟斤拷锟斤拷锟揭诧拷 */
.user-name .user-down{
	border:none;
}
.user-name{
	top:0px;
    right: initial;
    /* top:initial;  */
}
.dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before,.dropdown > .dropdown-menu:after, .dropdown-toggle > .dropdown-menu:after, .btn-group > .dropdown-menu:after{
	left: 64px;
}
.dropdown-menu{
	box-shadow: 0 3px 12px #eeeeee;
	min-width: 140px;
}
.dropdown-menu .divider{
	margin: 4px 0;
}
.dropdown-menu > li > a{
	    line-height: 20px;
    margin: 8px 0px;
    font-size: 12px;
}
.dropdown-menu > li > a:hover{
	background:#f8f8f8;
}
.header-menu1{
	float:left;
	position:relative;
	margin-top: 3px;
	margin-right: 30px;

}
.header-menu1 .btn-default{
	border: 1px solid #2cb4fb;
    border-radius: 4px !important;
    height:none;
    width:none;
    background-color: #fff;
    color: #2cb4fb;
    padding: 0px;
    font-size: 12px;
    padding: 6px 24px;
    box-shadow:none;
}
.header-menu1 .dropdown-menu{
	min-width:117px;
}
.header-menu1.open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #2cb4fb;
    color: #2cb4fb;
}
.header-menu1 .caret{
	margin-left:5px;
}
 .header-right .remind,.header-right .news{
     font-size: 20px;
    color: #999;
    margin-top: 7px;
    margin-right: 20px;
    position:relative;
 }
 .header-right .remind i,.header-right .news i{
     font-size: 20px;
    color: #999;
 }
 .red-prompt{
     height: 6px;
    width: 6px;
    background: red;
    z-index: 999;
    position: absolute;
    top: 3px;
    right: 1px;
    border-radius:100% !important;
    background:#ea0527;
 }
 
 /*  锟斤拷锟斤拷锟绞�*/
 .page-container{
 	 padding:0px;
 	 }
 .page-sidebar{
	 width:200px;
 }
#topFrame .topNav{
	border-bottom:1px solid #d9dadc !important;
}
.leftFrameNav,#leftBody{
	background:#fff;
}
.page-sidebar-menu   {
	border-top: 1px solid #eceef1 !important;
}
.page-sidebar-menu > li{
	 border-style:none !important;
    border-bottom: 1px solid #eceef1 !important;
   
}
.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a{
	margin:0px;
}
.page-sidebar .page-sidebar-menu > li > a > .title, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .title{
	color:#2a3142;
	font-size:12px;
}
.title{
	color:#2a3142;
}
.page-sidebar-menu > li > a{
	background:#fff;

}
.arrow{
	color:#aab2c4;
}
.page-sidebar .page-sidebar-menu .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu{
	background: #f9f9f9;
	margin:0px;
	border-top:none;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active > a{
	background:#fff;
}
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a,.page-sidebar .page-sidebar-menu .sub-menu > li.active > a span {
	color: #78beed;
	background: #f9f9f9 !important;
}
.page-sidebar .page-sidebar-menu > li.open > a{
	background:none !important;
	color:#78beed; 
	border-bottom: 1px solid #eceef1;
}

/* .page-sidebar .page-sidebar-menu > li.open > a span{
	color:#78beed;
} */
.page-sidebar .page-sidebar-menu .sub-menu li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a {
    display: block;
    margin: 0;
    padding: 12px 14px 12px 30px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    background: none;
    border-bottom: 1px solid #eceef1;
 
}
.page-sidebar .page-sidebar-menu .sub-menu li:last-child > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li:last-child > a{
	border:none;
} 
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a{
	border-left:4px solid #51b1ef;
	background:#f9f9f9 !important;
	border-bottom:1px sold #ECEEF1;
	/* border: none !important; */
    padding: 12px 14px 12px 26px;
	    
}
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a span{
	color:#78beed !important;
}
.page-sidebar .page-sidebar-menu .sub-menu li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li{
	margin:0px !important;
}
.page-sidebar .page-sidebar-menu .sub-menu > li > a > i{
	color:#6e6e6e !important;
	 font-size: 14px !important;
}
.topNav{
	background:#fff !important;
}
.topNav i{
	color:#fff !important;
	  font-size: 14px !important;
}
 .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i{
 color:#51b1ef !important;
 font-size: 14px !important;
 }
 
 /*锟斤拷锟斤拷*/
.ilead-search .control-label{
    margin-top: 8px;
    text-align: right;
    padding: 0px;
   
}
/*锟斤拷询*/
.ilead-search{
	padding-right: 110px;
	border:1px solid #ccc;
	 position:relative;
}
.form-control{
	height:30px;
	font-size:12px;
	/* color:#333; */
}

.ilead-search .form-control{
	/* color:#333; */
}
.ilead-search .form-group{
	padding:0px;
}
.ilead-search .btn{
	height: 30px;
    font-size: 12px;
    padding:0px 20px;
    margin:0px 8px;
}
.bmp-search-show{
	position: absolute;
    font-size: 12px;
    border: 1px solid #cfd3da;
    padding: 6px 8px;
    top: 15px;
    right: 20px;
    color: #aab2c3 !important;
    border-radius: 4px;
    padding-right:20px;
}
.bmp-search-show i{
	position:absolute;
	top:8px;
}
.panel-heading{
	height: auto;
    display: flex;
    padding: 0px;
}
.panel-body{
	padding:0px;
}
.bmp-search-show[aria-expanded=true] > .icon-xiala:before{
	content: "\e6ba";
} 
.bmp-search-show.collapsed > .icon-xiala:before{
	content: "\e6bb";
}

/*锟斤拷钮锟斤拷式*/
.btn-default{
	/* 临时修改  */
  background-color: #3cb3f7 !important;
   
}
.btn-default:hover,.btn-default:focus{
	 background-color: #3cadee;
	 color:#fff;
}
.btn-hollow{
	background-image: none;
    background-color: #fff;
    border: 0 none;
    color: #3cb3f7;
    border: 1px solid #3cb3f7;
}
.btn-hollow:hover,.btn-hollow:focus{
	color: #3aa4e1;
    border: 1px solid #3aa4e1;
}
.panel-btn{
	text-align:center;
}
/*  锟斤拷锟�*/
.ui-jqgrid .ui-jqgrid-titlebar {
    height: auto;
    padding: 16px 10px;
    font-size: 17px;
    font-weight: 300;
    /* height: 70px; */
}
.table-tool{
	position: absolute;
    z-index: 9;
    right: 60px;
    top: 15px;
}
.table-tool .btn{
	background: none !important;
    border: 0 none;
    color: #222;
    box-shadow: none;
    font-size: 12px;
    padding: 5px 8px;
    outline: none !important;
}
.table-tool .btn:hover,.table-tool .btn:focus{
	color:#3cadee;
}
.ui-jqgrid .ui-jqgrid-title{
	color:#222;
}
.ui-widget-header{
	border-color: #eceef1;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	border-color: #eceef1;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background:#f9f9f9;
}
.ui-jqgrid .ui-jqgrid-htable th{
	height:36px;
    border-color: #ccc;
    color:#222;
    /* background: #f0f0f0; */
    background:#e5e5e5;
}
.ui-jqgrid tr.jqgrow td{
    border-color: #ccc;
} 


/*锟洁辑页*/
.bg-write{
	background:#fff;
}
.panel{
	box-shadow:none;
	margin-bottom:0px;
}
.window-page .control-label{
	padding:0px;
	margin-top:8px;
	text-align:right;
	font-size:12px;
	color:#222;
}
.window-page  .form-group{
	padding:0px;
}
.layui-layer-title{
	cursor: move;
    height: 50px !important;
    background: #f9f9f9 !important;
    font-size: 18px !important;
    line-height: 50px !important;
    padding-left:15px;
    border:1px solid #eceef1 !important;
    color:#222 !important;
}
.tab-content{
	    margin-top: 20px;
    padding: 0px 20px;
}

.nav>li>a{
	font-size:12px;
}
/*  锟斤拷*/
.input-group{
	padding:0px 15px;
}
.input-group .btn{
	    padding: 5px 16px 6px;
}
.input-group-btn i{
	font-size:16px;
	color:#fff;
}
.form-group .ilead-laydate-icon-default{
	height:30px !important;
}
/*锟斤拷锟斤拷  */
.layui-layer-setwin{
	top:18px !important;
}
.page-line{
	 border-top: 1px dashed #ccc;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding: 0px;
    margin-top: 10px;
}
.per-12_5{
	width:12.5%;
	float:left;
	padding:0px 15px;
}
.per-87_5{
	width:87.5%;
	float:left;
	padding:0px 15px;
	
}
.modal-footer {
    padding: 20px 15px;
    text-align: right;
    border-top: 1px dashed #e5e5e5;
    margin-top: 10px;
}
.window-footer{
	width: 100%;
    float: left;
    text-align: center;
    background: #fff;
    height: 60px;
    padding-top: 15px;
    border-top: 1px dashed #ccc;
    z-index: 9;
}
.window-footer .btn{
	margin:0px 5px;
}
.height-full{
	height:-webkit-fill-available;
}
.ui-jqgrid .ui-jqgrid-titlebar-close,.ui-jqgrid .ui-jqgrid-titlebar-close:hover{
	    width: 30px !important;
    text-align: center;
    padding-left: 6px !important;
        right: 0px;
    padding: 3px 0px;
    height: 24px;
    top: 24px;
}
.ui-widget-content{
	border-color: #ccc;
}
/* .modal-backdrop{
	    z-index: 1001;
} */
.system-entrance{
	    padding: 30px 18px;
}
.system-entrance .btn{
	    border-radius: 4px !important;
    border: 1px solid #c8c8c8;
    color: #666;
    padding: 8px 20px;
    margin: 0px 5px 15px;
}
.system-entrance .btn:hover{
	border:1px solid #3cb3f7;
	color:#3cb3f7;
}
.model-close{
	float: right;
    font-size: 20px;
    background: none;
    border: none;
}
/*锟斤拷*/
.tree-heading{
	border-bottom:1px solid #e7ebee;
}
.tree-heading .panel-title{
	padding: 15px 10px;
}
.tree-heading .btn{
	float: right;
    margin: 9px 10px;
}
 ul.ztree{
	border:none !important;
}
/*锟斤拷同锟斤拷约锟斤拷细页锟斤拷锟絫itle锟斤拷位*/
/* .ui-jqgrid .ui-jqgrid-htable{
	display:block;
} */
.form-link{
	    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #3cadee !important;
}
/*checkbox*/
.input-check {
    margin: 9px 15px 0 !important;
}
/*鏇挎崲ui*/
.leftFrameNav, #leftBody {
    background: #0084d2;
}
.page-sidebar-menu > li > a{
	background: #0084d2 !important;
}
.page-sidebar{
	background: #0084d2 !important;
}
.page-sidebar .page-sidebar-menu > li > a > .title, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .title{
	color: #fff;
}
#retract .icon-caidan{
	color:#fff;
}
.topNav i{
	color:#fff !important;
	  font-size: 14px !important;
}
.page-sidebar-menu > li {
    border-style: none !important;
    border-bottom: 1px solid #499ddc !important;
}
.page-sidebar-menu {
    border-top: 1px solid #499ddc !important;
}
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a {
    border-left: 4px solid #51b1ef;
    background: #3167a5 !important;
}
.page-sidebar .page-sidebar-menu .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu{
	    background: #3774ba;
}
.page-sidebar .page-sidebar-menu .sub-menu li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a{
    border-bottom: 1px solid #3a7bc6;
}
.page-sidebar .page-sidebar-menu > li.open > a{
	  border-bottom: 1px solid #3a7bc6;
}
.title {
    color: #fff;
}
 .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a{
    background: #3167a5 !important;
 }
 .page-sidebar .page-sidebar-menu .sub-menu > li.open > a span {
    color: #fff!important;
    background: none !important;
}
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i,.page-sidebar .page-sidebar-menu .sub-menu > li > a > i  {
    color: #fff !important;
    font-size: 14px !important;
}
.btn-default {
    background-color: #0084d2;
}
.btn-hollow {
    color: #0084d2;
    border: 1px solid #0084d2;
}
#view{
	color:#3cadee;
}
